.about-title {
  h1 {
    @include adaptiv-value('font-size', 45, 16, 1);
    font-weight: 500;
    text-align: center;
  }
}

.about-gallery {
  @include adaptiv-value('padding-bottom', 50, 20, 1);
  //display: grid;
  //grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  //grid-gap: 1rem;
}

.about-text {
  @include adaptiv-value('padding-top', 30, 10, 1);
  @include adaptiv-value('padding-bottom', 30, 10, 1);
  p {
    @include adaptiv-value('font-size', 20, 14, 1);
    line-height: 150%;
    color: #4c4c4c;
    span {
      display: inline-block;
      margin-bottom: 1em;
    }
  }
}

.about-buttons {
  @include adaptiv-value('padding-top', 30, 10, 1);
  @include adaptiv-value('padding-bottom', 30, 10, 1);
  &__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    grid-gap: 1em;
  }
  &__item {
    align-self: center;
    color: #000;
    background-color: #FFF;
    border: 2px solid $pinkColor;
    @media (any-hover: hover) {
      &:hover {
        color: #FFF;
        background-color: $pinkColor;
      }
    }
  }
}

.about-host {
  @include adaptiv-value('padding-top', 30, 10, 1);
  @include adaptiv-value('padding-bottom', 30, 10, 1);
  &__body {
    @media (min-width: $md3+px) {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: flex-start;
    }
  }

  &__photo {
    flex: 0 0 30%;
    padding-bottom: 100%;
    margin-right: 10%;
    margin-left: 10%;
    img {
      border-radius: 10%;
    }
    @media (min-width: $md3+px) {
      padding-bottom: 37%;
      margin: 0 5% 0 0;
    }
  }

  &__text-content {
    flex: 0 1 auto;
  }
}

.about-host-text {
  &__title {
    @include adaptiv-value('font-size', 25, 18, 1);
    line-height: 150%;
    color: #4c4c4c;
    margin-bottom: 1em;
    font-weight: 500;
    span {
      text-transform: uppercase;
    }
  }

  &__text {
    @include adaptiv-value('font-size', 20, 14, 1);
    line-height: 150%;
    color: #4c4c4c;
    span {
      display: block;
      margin-bottom: 1em;
    }

    &_hidden {
      display: none;
      &.show {
        display: block;
      }
    }
  }
}

.slider-about {
  position: relative;
  &__body {

  }

  &__slide {
    padding-bottom: 30%;
    &.swiper-slide img {
      opacity: 0.3;
      transition: opacity 0.3s ease 0s;
    }
    &.swiper-slide-active img {
      opacity: 1;
    }
    @media (max-width: $md3+px) {
      padding-bottom: 100%;
    }
  }

  &__arrows {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__dots {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    flex-wrap: wrap;
    span {
      margin-bottom: 1% !important;
    }
  }
}

.slider-about-arrows {
  pointer-events: none;
  z-index: 1;
  width: 50%;
  display: flex;
  justify-content: space-between;
  &__item {
    pointer-events: auto;
    color: #000;
    font-size: 18px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        background-color: $pinkColor;
        color: #fff;
      }
    }
    @media (max-width: $md3+px) {
      font-size: 10px;
      height: 30px;
      width: 30px;
      background-color: $pinkColor;
      color: #fff;
    }
    &_prev {
      transform: rotate(-180deg);
    }
    &_next {
    }
  }
  @media (max-width: $md3+px) {
    width: 95%;
  }
}
