.footer {
  @include adaptiv-value('padding-top', 80, 40, 1);
  background-color: #000;
  position: relative;
  &__content {
    display: flex;
  }
  &__contacts {
    flex: 1 1 33.333%;
    @media (max-width: $md3+px) {
      //display: none;
    }
  }
  &__image {
    flex: 0 1 34%;
    padding-bottom: 20%;
    @media (max-width: $md3+px) {
      display: none;
    }
  }
  &__social {
    a {
      @include adaptiv-value('font-size', 28, 18, 1);
      &:not(:last-child) {
        margin-right: 1em;
      }
      display: inline-block;
      color: #f1cdb3;
      transition: color 0.3s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: $pinkColor;
        }
      }
    }
  }

  &__copy {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    color: #8c94a7;
    padding: 10px 0;
    text-align: center;
    font-size: 12px;
    font-style: italic;
    opacity: 0.7;
  }
}

.footer-contacts {
  @include adaptiv-value('padding-bottom', 40, 15, 1);
  padding: 0 10px;
  &__title {
    @include adaptiv-value('font-size', 30, 16, 1);
    color: #FFF;
    line-height: 130%;
    letter-spacing: .04em;
    margin-bottom: 0.7em;
  }

  &__text {
    @include adaptiv-value('font-size', 20, 12, 1);
    color: #f1cdb3;
    margin-bottom: 1.5em;
    display: flex;
    &::before {
      margin-right: 7px;
    }
    &_email {
      &::before {
        transform: translateY(1px);
      }
    }
    &__tel {

    }
    &__location {

    }
  }
}
//====================================================================================================

//====================================================================================================

